.emoji {
    position: fixed;
    pointer-events: none;
    animation: floatUp 0.6s ease-out forwards;
    font-size: 19px;
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}