/* -----------------------
Base styles
------------------------*/

body
{
	margin: 0px;
	padding: 0;
	color: #262626;
	/* background: #f3f2f2; */
	font: 1em "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	/* font-size: 1em; */
	/* line-height: 1.25; */
}

@media(max-width:540px){ body * { font-size: 0.6em !important; } } /*Android常用宽度*/
@media(max-width:480px){ body * { font-size: 0.55em !important; } }/*Android常用宽度*/

@media(max-width:414px){ body * { font-size: 0.52em !important; } } /*i6Plus,i7Plus宽度*/

@media(max-width:375px){ body * { font-size: 0.51em !important; } }/*i6,i7宽度*/

@media(max-width:360px){ body * { font-size: 0.5e !important; } }/*Android常用宽度*/

@media(max-width:320px){ body * { font-size: 0.49em !important; } }/*i5宽度*/

h1,h2,h3,h4,h5,h6
{
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}

h1
{
    font-size: 2.25em;
}
h2
{
    font-size: 1.57em;
}
h3
{
    font-size: 1.41em;
}
h4
{
    font-size: 1.25em;
}
h5
{
    font-size: 1em;
}
h6
{
    font-size: .875em;
}

p
{
	margin: 0 0 1.5em;
	line-height: 1.25;
}


hr
{
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #004192;
}

a:link { color: #004192; }
a:visited { color: #004192; }
a:focus { color: green; }
a:hover { color: green; }
a:active { color: #ff544f; }

.footerClass{
	background-color: rgb(241, 240, 238); 
	text-align: center; 
	margin-top:0px; 
	padding: 0px 0px; 
	height: 60px; 
	width: 100vw; 
	/* position: absolute;  */
	margin: -30px -30px;
}

.container
{
	max-width: 80em;
	margin: 30px;
	padding-top: 205px;
	/* font-size: 16px; */
	position: absolute;
}

html{
	scroll-padding-top:  238px;  /* 这里设置了滚动内边距 防止链接跳转被导航栏遮盖 */
	/* font-size: 62.5%; */
}

.container > P
{
	/* font-size: 1.0em; */
}

.motto{
	text-align: center;
	position: fixed;
	top: 40px;
	left: 50%;
	opacity: 0.6;
	z-index: 5;
}

@media(max-width:780px){
	.motto{
		display: none;
	}
}

.Publication-paper-wrapper h3,.Publication-Patents-wrapper,h3{
	padding: 10px;
	padding-left: 0px;
}

.Publication-paper-wrapper p{
	background: #f8f9fa;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 10px;
	line-height: 1.5;
}

.Publication-Patents-wrapper p{
	background: #f8f9fa;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 10px;
}


/* 成果展示页面的单独css */
.researchDiV p{
	/* font-size: 17px; */
	line-height: 1.5;
	text-align: left;
	margin: 0;
}
.researchDiV{
	text-align: center;
	background: #f8f9fa;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 30px;
}

.container ul li{
	line-height: 1.5;
}
.container ul{
	line-height: 1.5;
}
.container>p{
	line-height: 1.5;
}
.ResearchPicPresention{

}



nav
{
	/* background: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#d6d5d5),color-stop(100%,#f5f3f3)); */
	background-color: rgb(230, 242, 245);
	padding: 0;
    /* text-align: center; */
}

.page
{
	overflow: hidden;
	padding: 2em 3em;
	margin-bottom: 1em;
}

section {
	padding-top: 1em;
}


.footercontainer
{
	background: #C0C0C0;
	padding: 0em 0em;
	height: 20px;
	width: 100%;
	position: fixed;
	bottom: 0px;
}

/*
nav .container
{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #20457c
}
*/

/* 中英文切换按钮 */
  .LanguageCheckbox{
	transform: translate(-50%, -50%);
	width: 100px;
	height: 50px;
	border-radius: 25px;
	background: linear-gradient(0deg, #d8d8d8, #cccccc);
	border-top: 0.015em solid #ececec;
	border-bottom: 0.015em solid #ececec;
	margin-top: 20px;
	float: right;
	position: relative;
	z-index: 1;
  }

  .LanguageCheckbox p{
	font-size: 18px;
	font-weight: bold;
	/* margin-top: 10px; */
	margin-left: 110px;

  }
  .LanguageCheckbox .Languageinner{
	position: absolute;
	/* 因为没设宽和高, 所以可以这样 */
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: linear-gradient(0deg, #a5a5a5, #717171);
	border-radius: 20px;
	box-shadow: inset 0 0 15px rgba(0,0,0,.5);
  }
  .LanguageCheckbox .Languageinner .Languagetoggle{
	position: absolute;
	top: -3px;
	left: -3px;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background: linear-gradient(0deg, #ccc, #e4e4e4);
	box-shadow: 0 4px 6px rgba(0,0,0,.2);
	box-sizing: border-box;
	border-top: 0.04em solid #ececec;
	border-bottom: 0.01em solid #ececec;
	transition: 0.5s;
  }
  .LanguageCheckbox .Languageinner .Languagetoggle:before{
	content: "OFF";
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;
	background: linear-gradient(0deg, #e4e4e4, #ccc);
	border-radius: 50%;
	text-align: center;
	font-size: 10px;
	line-height: 28px;
	color: #a9a9a9;
  }
  .LanguageCheckbox .Languageinner.active .Languagetoggle:before{
	content: "ON";
	color: #00d22d;
  }
  .LanguageCheckbox .Languageinner.active .Languagetoggle{
	left: 47px;
  }
  .LanguageCheckbox .Languageinner.active{
	background: linear-gradient(0deg, #00d22d, #158a00);
  }

.container h3{
	justify-content: center;
}

nav>ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	height: 48.39px;
	vertical-align: top;
	padding-left: 6px;
}

nav>ul>li
{
	/* display: inline; */
	margin: 0 0 0 0;
	border: none;
	margin-left: -4px;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 160px;
	text-align: center;

}

nav ul > li > a
{
	display: inline-block;
	padding-top: .5em;
	padding-bottom: .5em;

	color: #000000;
	text-decoration: none;
	font-size: 22px;
	border-radius: 0px;
	transition: border-radius 0.3s ease;
	/* border-top: 2px solid rgb(230, 242, 245); */
	border-left: 0px;
	border-right: 3px solid #ffffff;
	margin: 0em 0em 0em 0em;
	width: 100%;
}

nav ul a:link { color: rgb(0, 0, 0); }
nav ul a:visited { color: rgb(0, 0, 0); }
nav ul a.selected
{
	border: 0 none;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#61d4fa), color-stop(100%,#d4f4ff));
	border-radius: 5px;
	color: #000000;
	transition: border-radius 0.3s ease;
	transition: background-color 0.3s ease;
	margin: 0%;
	border-right: 3px solid #ffffff;

}



/* nav ul a:focus
{
	color: #262626;
	background-color: #ff544f;
} */

nav>ul > li:hover
{
	color: #262626;
	border-radius: 3px;
	background-color: rgb(213, 227, 231);;
	transition: background-color 0.3s ease;
	transition: border-radius 0.3s ease;
	/* transition: border-top 0.05s ease; */
	border-top: 2px solid #728f6d;
	text-decoration: none;
}

nav>ul>li>ol
{
	/* 让盒子先沿着y轴缩放到0，也就是隐藏了 */
	transform: scaleY(0);
		/* 我们需要将盒子从上面滑动下来 设置一下缩放中心点即可 */
	transform-origin: 50% 0;
	background-color: rgb(236, 245, 247);
	list-style:none;
	padding-left: 0px;
	border-left: 1.5px solid #e9e7e7;
	border-bottom: 1.5px solid #e9e7e7;
	border-right: 1.5px solid #e9e7e7;
	font-weight: bold;
	width: 125%;
}
nav>ul>li>ol>li
{
	vertical-align: center;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 17px;
	border-bottom: 0.5px solid #d4d4d4;
}

nav>ul>li>ol>li:hover
{
	background-color: #fcfbfb;
}

nav>ul>li:has(ol:hover)
{
	color: #262626;
	border-radius: 3px;
	border-top: 2px solid #728f6d;
}

nav>ul>li>ol>li>a
{
	text-decoration: none;
}

nav>ul > li:hover >ol
{
	/* 让盒子先沿着y轴缩放到0，也就是隐藏了 */
	transform: scaleY(1);
	/* list-style:none; */
	/* background-color: black; */

	animation-name: NavTransframes;
  	animation-duration: 0.3s;

}


@keyframes NavTransframes{
	0%{
		opacity: 0;
		transform: scaleY(0);
	}
	100%{
		opacity: 1;
		transform: scaleY(1);
	}
  }


nav ul a:active
{
	color: #acca00;
	/* background-color: #ff544f; */
}

section .image-block {
    text-align: center;
}

section figure {
    display: inline-block;
    font-style: italic;
    text-align: center;
}



.fixedTopHeader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	width: 100%; 
	height:180px; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#61d4fa), color-stop(100%,#d4f4ff));
	z-index: 2;

  }

  .fixedTopnav {
	position: fixed;
	top: 180px;
	left: 0;
	width: 100%;
	z-index: 5;

  }




 /* 爱心飘落 */
 .snowfall-flakes:before,.snowfall-flakes:after{
	content: '';
	position: absolute;
	width: 5.5px;
	height: 8.5px;
	border-radius: 5px 5px 0 0;
	background-color: red;
}
.snowfall-flakes:before{
	transform: rotate(-45deg);
}
.snowfall-flakes:after{
	transform: translateX(4px) rotate(45deg);
}


/* 标题字体样式 */
.LibSpan{
	width: auto;
	height: auto;
	/* position: absolute;
	left: 1%; */
	margin-left: 0px;
	background-image: -webkit-linear-gradient(left,rgb(125, 125, 245),#a5eeee 10%,#e7c2f0 20%,#fc6afc 30%, #CCCCFF 40%, #00FFFF 50%,#CCCCFF 60%,#f38cf3 70%,#e38ff8 80%,#66FFFF 90%,rgb(116, 116, 243) 100%);
	-webkit-text-fill-color: transparent;/* 将字体设置成透明色 */
	-webkit-background-clip: text;/* 裁剪背景图，使文字作为裁剪区域向外裁剪 */
	-webkit-background-size: 200% 100%; 
	-webkit-animation: masked-animation 4s linear infinite;
	font-weight: bold;
	font-size: 28px;
	/* font-size: 35px; */
	/* background: #EEE url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQImWNkYGBgYGD4//8/A5wF5SBYyAr+//8PAPOCFO0Q2zq7AAAAAElFTkSuQmCC) repeat;
	text-shadow: 5px -5px #4f4e4d, 4px -4px #716f6d;
	font-weight: bold;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text */
  }

  
@keyframes masked-animation {
	0% {
		background-position: 0  0;
	}
	100% {
		background-position: -100%  0;
	}
  }

  .LibSpanHead{

	width: auto;
	height: auto;
	/* position: absolute;
	left: 1%; */
	margin-left: 0px;
	background-image: -webkit-linear-gradient(left,#FF9656,#DAAE74 10%,#CBB780 20%,  #A1D4A1 30%,#6AF8D3 40%, #64FBD3 50%,#6AF7D0 60%,#66FFFF 70%,#92DEB0 80%,#B6C492 90%,#EE9F60 100%);
	-webkit-text-fill-color: transparent;/* 将字体设置成透明色 */
	-webkit-background-clip: text;/* 裁剪背景图，使文字作为裁剪区域向外裁剪 */
	-webkit-background-size: 200% 100%; 
	-webkit-animation: masked-animation 4s linear infinite;
	font-weight: bold;
	font-size: 28px;
  }

  #footerDef{
	
	/* height: 30px; */
  }

  /* #footerDef_inner{
	background-color: rgb(219, 218, 216); 
	margin-top:10px;
	margin-bottom:10px;

	padding: 2px 2px;
	height: 50px; 
  } */



  footer.main-footer .footer-text {
    float: left
}

footer.main-footer .go-up {
    float: right;
    margin-bottom: 20px
}

footer.main-footer .go-up a {
    display: inline-block;
    background-color: rgb(222, 230, 238);
    padding: 15px 20px;
    border-radius: 50%;
}

footer.main-footer .go-up a:hover {
    background-color: rgb(151, 143, 143)
}

footer.main-footer.footer-type-2 {
    background-color: #252729;
    border-top: 0;
    color: #fff
}

footer.main-footer.footer-type-2 a {
    color: #fff
}

footer.main-footer.footer-type-2 .go-up a {
    background-color: rgba(255,255,255,.05)
}

footer.main-footer.footer-type-2 .go-up a:hover {
    background-color: rgba(255,255,255,.1)
}

footer.main-footer.fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px!important
}



.ScholarDiv{
	/* white-space: nowrap; */
	/* display: flex; */
	/* float: left; */
	flex-wrap: nowrap;
	/* position: relative; */
}

.ScholarDiv >ul{
	width: 35%;
	display: inline-block;
}

.ResearchPicPresention{
	image-rendering: auto;
}


.current-year:before {
	content: attr(data-year);
  }


/* 底部超链接设置  */
.footer-inner >p >a:hover{
	text-decoration: underline;
}
.footer-inner >p >a{
	text-decoration: none;
}

#LocationMap {
	height: 300px; 
	width: 90%; 
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


/* 图片扫光效果  */
.LXCImg {
	display: block;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	height: 250px;
	width: 166.63px;
}

.LXCImg:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: -323px;
	/* overflow: hidden; */
	/* background-color: red; */
	/* border-right: 3px solid rgb(228, 228, 228,0.8); */
	/* border-left: none; */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0.00)), color-stop(50%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0.6)));
	-webkit-transform: skewX(-45deg);
}

.LXCImg:hover:before {
	left: 160px;
	transition: all 1s;
}

/* Logo图片扫光效果  */
/* .LogoImgLight{
	display: block;
	position: fixed;
	margin: 0 auto;
	top: 30px;
	left: 10px;
	overflow: hidden;
	height: 100px;
	width: 100px;
	z-index: 4;

} */

/* .LogoImgLight:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: -200px;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0.00)), color-stop(50%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0.6)));
	-webkit-transform: skewX(-45deg);
}

.LogoImgLight:hover:before {
	left: 100px;
	transition: all 0.8s;
}

.LogoLeft{
	text-align: center;
	z-index: 4;
	transform: scaleX(-1);
} */

.LogoLeft{
	text-align: center;
	position: fixed;
	top: 30px;
	left: 10px;
	z-index: 3;
	transform: scaleX(-1);
}


/* 首页新闻自定义项目符号列表 */
ul.Index_New {
    list-style-type: none; /* 移除默认项目符号 */
    padding-left: 0; /* 移除默认的内边距 */
  }
 
  ul.Index_New li {
    padding-left: 20px; /* 添加内边距以保持文本对齐 */
	margin-left: 30px;
	position: relative;

  }
  ul.Index_New li span{
	margin-left: 5px;

  }
 
  ul.Index_New li::before {
    content: "📢"; /* 自定义项目符号 */
    color: blue; /* 设置项目符号颜色 */
    font-weight: bold; /* 设置项目符号字体粗细 */
    display: inline-block; /* 使项目符号作为行内块显示 */
    width: 1em; /* 设置项目符号宽度 */
    margin-left: -1em; /* 设置项目符号左边距以对齐文本 */
	justify-content: center;
	position: absolute; /* 绝对定位 */
	left: -1px;
  }


/* 课题组合作页 滚动特效 */
.Cooperation-section {
	padding: 20px 0;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	width: 100%;
}

.Cooperation-slider-container {
	margin: 20px 0;
	overflow: hidden;
	position: relative;
}

.Cooperation-slider-track {
	display: flex;
	width: fit-content;
	gap: 20px;
	animation: Cooperation-scroll 20s linear infinite;
	/* transform: translateX(calc(-0% - 1458px)); */
}

.Cooperation-slider-track > div {
	animation: none;
}

.Cooperation-slider-track:hover {
	animation-play-state: paused;
}

.Cooperation-slider-track.reverse {
	animation-direction: reverse;
}

.Cooperation-feature-card {
	text-decoration: none;
	flex: 0 0 310px;
	height: 70px;
	padding: 1.3rem;
	background-color: #f9fafb;
	border-radius: 0.5rem;
	transition: transform 0.3s ease;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	justify-content: space-between;
	cursor: pointer;
	width: 30px;
	border: #e1e3e6 0.5px solid;
}

.Cooperation-feature-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.Cooperation-feature-title {
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	color: #111827;
}

.Cooperation-feature-description {
	font-size: 0.875rem;
	color: #6b7280;
	line-height: 1.4;
	margin-top: 0;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin: 0 0 0.5em;
}

@keyframes Cooperation-scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-0% - 1858px));
	}
}

.Cooperation-mask-left {
	height: 100%; 
	background-color: black;
	position: absolute; 
	width: 120px; 
	left: -3px; 
	top: 0%; 
	z-index: 0;
	border: none;
	background: linear-gradient(to right,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 0.85) 50%,
		rgba(255, 255, 255, 0) 100%);
}
.Cooperation-mask-right {
	height: 100%; 
	background-color: black;
	position: absolute; 
	width: 120px; 
	right: -3px; 
	top: 0%; 
	z-index: 0;
	border: none;
	background: linear-gradient(to left,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 0.85) 50%,
		rgba(255, 255, 255, 0) 100%);
}

.Cooperation-user-info {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	flex-shrink: 0;
}

.Cooperation-user-avatar {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.Cooperation-user-avatar img {
	width: 45px;
	height: 45px;
	object-fit: cover;
}

.Cooperation-user-des{

}

.Cooperation-user-name {
	font-size: 1rem;
	font-weight: 600;
	color: #111827;
}

.Cooperation-user-handle {
	font-size: 0.875rem;
	color: #6b7280;
}

.Cooperation-emoji-hearts {
	color: #ef4444;
	font-size: 1.25rem;
}

@media(max-width:780px){

	.Cooperation-feature-card {
		flex: 0 0 230px;
		height: 100px;
	}

	@keyframes Cooperation-scroll {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc(-0% - 1458px));
		}
	}

	.container
	{
		max-width: calc(100% - 50px);
	}

	.Cooperation-section {
		
	}

	.Cooperation-slider-track
	{

	}
	

} 

/* 通知栏 */

.notification-bar {
	position: absolute;
	/* top: 20px; */
	right: 70px;
	width: 360px;
	height: 50px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	padding: 0 10px;
	z-index: 1000;
	animation: slideIn 0.5s ease-out;
  }
  
  .notification-wrapper {
	position: absolute;
	top: 230px;
	right: 20px;
	display: flex;
	align-items: center;
	gap: 10px;
	z-index: 1;
  }
  
  .notification-content {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	font-size: 16px;
	color: #333;
	transition: all 0.3s ease;
  }
  
  .notification-icon:hover {
	  transform: scale(1.1) scaleX(-1);
	  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	  background-color: #f5f5f5;
  }
  
  .notification-content span {
	display: inline-block;
	padding-left: 100%;
	animation: scroll-text 15s linear infinite;
  }
  
  @keyframes scroll-text {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
  }
  
  .notification-icon {
	width: 40px;
	height: 40px;
	background-size: cover;
	flex-shrink: 0;
	border-radius: 50%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
	z-index: 1001;
	position: relative;
	transform: scaleX(-1);
  }
  
  @keyframes slideIn {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
  }
  
  @keyframes slideOut {
	from {
		transform: translateX(0);
		opacity: 1;
	}
	to {
		transform: translateX(100%);
		opacity: 0;
	}
  }
  
  /* 悬停效果 */
  .notification-bar:hover {
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
	transform: translateY(-2px);
	transition: all 0.3s ease;
  }
  
  /* 响应式设计 */
  @media (max-width: 768px) {
	.notification-bar {
		width: calc(600% - 0px);
		bottom: auto;
	}
	.notification-wrapper {
		top: 20px;
		bottom: auto;
		position: relative;
		display: none;
	}
  }

/* 爱心飘落 */

  .heartFall {
	position: fixed;
	font-size: 20px;
	color: #ff4d4d;
	opacity: 1;
	user-select: none;
	top: -50px;
	z-index: 1000;
}


/* 段落展开与折叠 */
.ExpandText-container {
	width: 100%;
	margin: 10px auto;
	padding: 2px;
}

.ExpandText-wrapper {
	position: relative;
	margin-bottom: 20px;
	background: #f8f9fa;
	padding: 20px;
	border-radius: 8px;
}

.ExpandText-content {
	margin: 0;
	line-height: 1.6;
	color: #333;
	display: block;
	position: relative;
}

/* 展开状态时移除高度限制 */
.ExpandText-content.ExpandText-expanded {
	max-height: none;
	padding-bottom: 50px;
}

.ExpandText-image {
	width: 60%;
	object-fit: cover;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	display: block;
	margin: 20px auto;
}

.ExpandText-text {
	margin: 0;
	line-height: 1.5;
	text-align: justify;
}

.ExpandText-content.ExpandText-collapsed {
	max-height: 1.6em;
	overflow: hidden;
	padding-bottom: 50px;
}

.ExpandText-btn {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	display: inline-block;
	padding: 8px 20px;
	margin: 0;
	background-color: #fff;
	color: #1280f7;
	border: 1px solid #1280f7;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: 14px;
	z-index: 2;
}

.ExpandText-btn:hover {
	background-color: #3789e0;
	color: #fff;
}

/* 渐变遮罩 */
.ExpandText-content.ExpandText-collapsed::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: linear-gradient(transparent, #f8f9fa);
	pointer-events: none;
	z-index: 1;
}

/* 分隔线 */
.Divider {
	display: flex;
	align-items: center;
	text-align: center;
	margin: 10px auto;
	width: 80%;
	color: #666;
}

.Divider::before,
.Divider::after {
	content: '';
	flex: 1;
	border-bottom: 1px dashed #ccc;
}

.Divider-icon {
	padding: 0 15px;
	font-size: 20px;
	color: #999;
}

.Divider:hover .Divider-icon {
	transform: rotate(360deg);
	transition: transform 0.5s ease;
}


/* 标题悬浮特效 */

.PaperTitle-hover {
	display: block;
	position: relative;
	overflow: hidden;
	padding: 15px;
	cursor: pointer;
	height: 1.2em;
	width: 100%;
	perspective: 1000px;
}

.PaperTitle-text {
	font-size: 1.25em;
	font-weight: bold;
	color: #333;
	margin: 0;
	line-height: 1.6;
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	position: absolute;
	top: -10px;
	left: 0;
	display: block;
	backface-visibility: hidden;
	transform: translateY(20px);
	transform-origin: 50% 100%;
	text-align: justify;
}

.PaperTitle-clone {
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	padding: 0px;
	transform: translateY(60px) rotateX(90deg);
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	color: #333;
	font-size: 1.25em;
	font-weight: bold;
	line-height: 1.6;
	backface-visibility: hidden;
	margin: 0;
	transform-origin: 50% 0%;
	text-align: justify;
}

/* 悬浮效果 */
.PaperTitle-hover:hover .PaperTitle-text {
	transform: translateY(-20px) rotateX(-90deg);
}

.PaperTitle-hover:hover .PaperTitle-clone {
	transform: translateY(20px) rotateX(0deg);
}


/* 标题悬浮 */

.GlowTitle {
	position: relative;
	font-size:1em;
	font-weight: bold;
	color: #000000;
	cursor: pointer;
	/* padding: 10px 20px; */
	transition: all 0.3s ease;
	display: block;
	text-align: left;
	width: 100%;
	display: inline;
	width: auto;
	line-height: 1.6; 
	text-align: justify;
	margin-left: 5px;
}

.GlowTitle::before {
	content: attr(data-text);
	position: absolute;
	top: -4px;
	left: 0;
	width: 100%;
	/* height: 100%; */
	color: #fff;
	filter: blur(2px);
	background: linear-gradient(45deg, 
		#1976d2 0%,     /* 深蓝色 */
		#2196f3 30%,    /* 标准蓝 */
		#03a9f4 70%,    /* 浅蓝色 */
		#4fc3f7 100%    /* 天蓝色 */
	);
	background-size: 200%;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: backgroundMove 10s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease;
	text-align: left;
	padding: 10px 20px;
}

.GlowTitle:hover {
	text-shadow: 0 -2px 2px rgba(102, 194, 236, 0.15);
	/* letter-spacing: 0.1px; */
}

.GlowTitle:hover::before {
	opacity: 0.5;
	filter: blur(3px);
}

@keyframes backgroundMove {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* 添加底部发光线条 */
.GlowTitle::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 20px;
	width: 0;
	height: 2px;
	background: linear-gradient(45deg,
		#1976d2 0%,
		#2196f3 30%,
		#03a9f4 70%,
		#4fc3f7 100%
	);
	transition: width 0.3s ease;
}

.GlowTitle:hover::after {
	width: calc(100% - 40px);
}